<div
class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75"
>
<br>
<div
  class="absolute top-0 w-full h-full bg-center bg-cover"
  style="
    background-image: url('https://cdn.pixabay.com/photo/2016/09/04/18/28/party-people-1644798_1280.jpg');
  "
>
  <span
    id="blackOverlay"
    class="w-full h-full absolute opacity-75 bg-black"
  ></span>
</div>
<div class="container relative mx-auto">
  <div class="items-center flex flex-wrap">
    <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
      <div class="pr-12">
        <h1 class="text-white font-semibold text-5xl">
          Compre seu Ingresso!
        </h1>
        <p class="mt-4 text-lg text-blueGray-200">
         
        </p>
      </div>
    </div>
  </div>
</div>
<div
  class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
  style="transform: translateZ(0)"
>
  
</div>
</div>

<section class="pb-20 bg-blueGray-200 -mt-24">
<div class="container mx-auto px-4">
  <div class="flex flex-wrap">
    <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
      >
        <div class="px-4 py-5 flex-auto">
          <div
            class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400"
          >
          <i class="fa-solid fa-file-invoice-dollar"></i>
          </div>
          <h6 class="text-xl font-semibold">Segurança</h6>
          <p class="mt-2 mb-4 text-blueGray-500">
            Confiança é a essência do nosso relacionamento com você.
          </p>
        </div>
      </div>
    </div>

    <div class="w-full md:w-4/12 px-4 text-center">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
      >
        <div class="px-4 py-5 flex-auto">
          <div
            class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-emerald-400"
          >
          <i class="fas fa-award"></i>

          </div>
          <h6 class="text-xl font-semibold">Garantia</h6>
          <p class="mt-2 mb-4 text-blueGray-500">
            Garantimos segurança em cada transação e trabalhamos incansavelmente para oferecer um serviço confiável.
          </p>
        </div>
      </div>
    </div>

    <div class="pt-6 w-full md:w-4/12 px-4 text-center">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
      >
        <div class="px-4 py-5 flex-auto">
          <div
            class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-emerald-900"
          >
            <i class="fas fa-fingerprint"></i>
          </div>
          <h6 class="text-xl font-semibold">Confiabilidade</h6>
          <p class="mt-2 mb-4 text-blueGray-500">
            Para que você possa se sentir à vontade em todas as suas escolhas."
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container mx-auto px-4">
    <div class="flex flex-wrap justify-center text-center mb-24">
      <div class="w-full lg:w-6/12 px-4">
        <h2 class="text-4xl font-semibold">Ingressos-Cine</h2>
        <p class="text-lg leading-relaxed m-4 text-blueGray-500">
          According to the National Oceanic and Atmospheric Administration,
          Ted, Scambos, NSIDClead scentist, puts the potentially record
          maximum.
        </p>
      </div>
    </div>
 